/* general css */

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #2F3033;
}

.container {
    width: 75%;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #000;
}

.btn {
    background-color: #fff;
    border-radius: 4rem;
    border: 1px solid #2f3033;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 32px;
    cursor: pointer;
    box-shadow: 8px 8px 0px rgba(0,215,145,.7);
    transition: all 0.1.5s ease-in-out;
}

.btn:hover {
    background-color: #0074de;
    border-color: #0074de;
    box-shadow:  0 0 0;
    color: #FFF;
}

.btn-bink {
    box-shadow: 8px 8px 0px #ff5fa0;
}

.btn-org {
    box-shadow: 8px 8px 0px #af50dc;;
}

.btn-prim {
    box-shadow: 8px 8px 0px #0074de
}

/* MAIN HEADER */

.main-header {
    background-color: #F2F9FF;
}

/* main nav */

.main-nav {
    padding: 32px 0;
}

.main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.logo img {
    width: 160px;
}

.nav-list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-item {
    cursor: pointer;
}

.nav-link:visited,
.nav-link:active,
.nav-link:hover,
.nav-link {
    color: #000;
    text-decoration: none;
}

.nav-link {
    margin-right: 8px;
    position: relative;
}

.btn svg {
    width: 14px;
    height: 14px;
}

.btn-get-venmo {
    box-shadow: unset;
    background-color: #fff;

}

.btn-get-venmo:hover {
    background-color: rgba(0,140,255,.1);
    border-color:  #2f3033;
    color: #000;
}
.btn-get-venmo svg  path {
    fill: #008cff;
    stroke: #008cff;
}


.btn-get-venmo:hover .btn-get-venmo svg  path{
    fill: #fff;
    stroke: #fff;
}


@media (max-width: 900px) {
    .nav-list {
        display: none;
    }
}

/* main hero */

.main-hero {
    margin-top: 64px;
    padding-bottom: 64px;
}

.flex-g {
    display: flex;
    gap: 64px;
    align-items: center;
}

.main-hero h1 {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 32px;
}

.main-hero p {
    margin-bottom: 24px;
    font-size: 20px;
}

.btn-get-started {
    background-color: #008cff;
    color: #FFF;
    border-color: #008cff;
}

.btn-get-started svg path {
    fill: #fff;
    stroke: #fff;
}

.hero-second img {
    width: 100%;
}

@media (max-width: 900px) {
    .flex-g {
        flex-direction: column;
    }
}

/* /MAIN HEADER */

/* MAIN */

main {
    padding: 192px 0;
}

.intro-title {
    font-size: 90px;
    font-weight: 500;
    margin-bottom: 64px;
    position: relative;
}

.intro-sm-img img {
    width: 128px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

/* ARTICLES */

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
}

@media (max-width: 900px) {
    .article-grid {
        grid-template-columns: 1fr;
        gap: 64px;
    }
}

.article-img {
    margin-bottom: 32px;
    position: relative;
}

.article-img img {
    width: 100%;
}

.notfic {
    position: absolute;
    width: 50%;
    width: 256px;
    bottom: 92px;
    left: -50px;
}

.article-badge {
    background-color: #AF50DC;
    color: #FFF;
    border-radius: 8px;
    padding: 12px 16px;
    display: inline-block;
    position: absolute;
    bottom: 192px;
    left: -50px;
}

.second .article-badge {
    bottom: 192px;
    right: -50px;
    left: unset;
}

.second .notfic {
    right: -50px;
    left: unset;
}

.badge-arg {
    background-color: #AF50DC;
}

.badge-blu {
    background-color: #008CFF;
}

.badge-red {
    background-color: #FA414B;
}

.article-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

.article-text {
    font-size: 18px;
}

.article-w-btn {
    margin-bottom: 128px;
}

.article-w-btn .text {
    margin-bottom: 48px;
    font-size: 20px;
}

.animate {
    margin-top: 96px;
    position: relative;
}

.animat-img {
    width: 140px;
    position: absolute;
    right: 0;
    top: -20px;
}

.animat-img img {
    animation: .5s linear 1s infinite alternate zoom;
}

@keyframes zoom {
    from {
      /* pushes the sun down past the viewport */
      width: 128px;
    }
    to {
      /* returns the sun to its default position */
      width: 140px;
    }
  }

/* /ARTICLES */

/* INFO */

.info {
    padding: 64px 0 192px 0;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 96px;
    margin-top: 96px;
}

@media (max-width: 900px) {
    .info-item {
        flex-direction: column;
        gap: 64px;
    }
}

.info-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 32px;
}

.info-text {
    font-size: 18px;
    line-height: 1.5;
}

.info-img {
    width: 192px;
}

.info small {
    display: inline-block;
    margin-top: 16px;
}

.info .btn {
    margin-top: 32px;
}

/* call to action */

.action-img {
    position: relative;
}

.action-img img {
    position: relative;
    width: 100%;
}

.action-text {
    margin-top: 128px;
    display: flex;
    gap: 48px;
}

@media (max-width: 900px) {
    .action-text{
        flex-direction: column;
        gap: 24px;
    }
}

.action-text h2 {
    font-size: 48px;
    font-weight: 400;
}

.action-text p {
    margin-bottom: 32px;
    line-height: 1.5;
    font-size: 20px;
}

/* footer */

footer {
    text-align: center;
    padding-bottom: 48px;
}

footer a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}