/* general css */

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #2F3033;
}

.container {
    width: 75%;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #000;
}

.btn {
    background-color: #fff;
    border-radius: 4rem;
    border: 1px solid #2f3033;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 32px;
    cursor: pointer;
    box-shadow: 8px 8px 0px rgba(0,215,145,.7);
    transition: all 0.1.5s ease-in-out;
}

.btn:hover {
    background-color: #0074de;
    border-color: #0074de;
    box-shadow: unset;
    color: #FFF;
}

/* MAIN HEADER */

.main-header {
    background-color: #F2F9FF;
}

/* main nav */

.main-nav {
    padding: 32px 0;
}

.main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 160px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-item {
    cursor: pointer;
}

.nav-link:visited,
.nav-link:active,
.nav-link:hover,
.nav-link {
    color: #000;
    text-decoration: none;
}

.nav-link {
    margin-right: 8px;
    position: relative;
}

.link-icon svg path {
    stroke: #008cff;
}

.btn svg {
    width: 14px;
    height: 14px;
}

.btn-get-venmo {
    box-shadow: unset;
    background-color: #fff;

}

.btn-get-venmo:hover {
    background-color: rgba(0,140,255,.1);
    border-color:  #2f3033;
    color: #000;
}
.btn-get-venmo svg  path {
    fill: #008cff;
    stroke: #008cff;
}


.btn-get-venmo:hover .btn-get-venmo svg  path{
    fill: #fff;
    stroke: #fff;
}

/* drobdown */

.drob-down {
    position: absolute;
    top: 96px;
    display: none;
}

.drob-list::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-25%);
    border-bottom: solid 10px #fff; /* Creates the arrow pointing up, to change to a notch instead user border-top */
    border-left: solid 10px transparent; /* Creates triangle effect */
    border-right: solid 10px transparent; 
}

.drob-list {
    list-style: none;
    background-color: #fff;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.drob-link:visited,
.drob-link:active,
.drob-link:hover,
.drob-link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 4px;
}

.drob-link:hover {
    background-color: #F2F9FF;
}

/* main hero */

.main-hero {
    margin-top: 64px;
    padding-bottom: 64px;
}

.flex-g {
    display: flex;
    gap: 64px;
    align-items: center;
}

.main-hero h1 {
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 32px;
}

.main-hero p {
    margin-bottom: 24px;
    font-size: 20px;
}

.btn-get-started {
    background-color: #008cff;
    color: #FFF;
    border-color: #008cff;
}

.btn-get-started svg path {
    fill: #fff;
    stroke: #fff;
}

/* /MAIN HEADER */

/* MAIN */

main {
    padding: 192px 0;
}

.intro-title {
    font-size: 90px;
    font-weight: 500;
    margin-bottom: 64px;
    position: relative;
}

.intro-sm-img img {
    width: 128px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

/* ARTICLES */


.article-grid {
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    gap: 96px;
}

.article-img {
    margin-bottom: 32px;
    position: relative;
}

.article-img img {
    width: 100%;
}

.notfic {
    position: absolute;
    width: 256px;
    bottom: 92px;
    left: -50px;
}

.article-badge {
    background-color: #AF50DC;
    color: #FFF;
    border-radius: 8px;
    padding: 12px 16px;
    display: inline-block;
    position: absolute;
    bottom: 192px;
    left: -50px;
}

.second .article-badge {
    bottom: 192px;
    right: -50px;
    left: unset;
}

.second .notfic {
    position: absolute;
    width: 256px;
    bottom: 92px;
    right: -50px;
    left: unset;
}

.badge-arg {
    background-color: #AF50DC;
}

.badge-blu {
    background-color: #008CFF;
}

.badge-red {
    background-color: #FA414B;
}

.article-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

.article-text {
    font-size: 18px;
}

.article-w-btn {
    margin-bottom: 128px;
}

.article-w-btn .text {
    margin-bottom: 48px;
    font-size: 20px;
}

.animate {
    margin-top: 96px;
    position: relative;
}

.animat-img {
    width: 140px;
    position: absolute;
    right: 0;
    top: -20px;
}

.animat-img img {
    animation: .5s linear 1s infinite alternate zoom;
}

@keyframes zoom {
    from {
      /* pushes the sun down past the viewport */
      width: 128px;
    }
    to {
      /* returns the sun to its default position */
      width: 140px;
    }
  }

/* /ARTICLES */

/* INFO */

.info {
    padding: 128px 0;
}

.info-item {
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    gap: 64px;
    margin-top: 96px;
}

.info-title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 32px;
}

.info-text {
    font-size: 18px;
    margin-bottom: 32px;
}

.info-img {
    width: 100%;
}

small {
    display: inline-block;
    margin-bottom: 32px;

}

/* call to action */

.action-img img {
    width: 100%;
}

.action-text {
    margin-top: 48px;
    display: flex;
    gap: 48px;
}

.action-text h2 {
    font-size: 48px;
    font-weight: 400;
}

.action-text p {
    margin-bottom: 32px;
    line-height: 1.5;
    font-size: 20px;
}

/* hero */

.hero {
    background-color: #F2F9FF;
    padding: 128px 0;
    padding-left: 96px;
}

.hero img {
    width: 100%;
}